<h1>Create New Blog Entry</h1>
<form action="/posts/new" method="post" name="create-post-form" id="create-post">
  <li>
    Title:<BR>
    <input type="text" name="title" size="64" placeholder="Title here">
  </li><BR>
  <li>
    Content:<BR><textarea rows="10", cols="64", name="body" placeholder="What's on your mind?"></textarea>
  </li><BR>
  <li>
    Tags:<BR>
    <input type="text" name="tags" size="64" placeholder="tags, separated, like, so">
  </li><BR>
    <input type="submit" value="Submit Post!">
</form>
