<h1>Heavy Metal Blog</h1>

<% if @posts %>
  <% @posts.each do |post| %>
    <span id="blogtitle">
      <a href="/posts/<%= post.id %>">
        <%= post.title %>
      </a>
      </span><BR>
    <span id="content"><%= post.body %></span><BR> 
    <% post.tags.each do |tag| %>
      <span id="blogtags"><%= tag.name %></span>
    <% end %>
   <BR><BR>
  <% end %>
<% end %>

<a href="/posts/new">Create New Post</a><BR>